{% extends "base.html" %}
{% block title %}輔仁大學雲端服務研究中心_活動主頁面{% endblock %}     

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery-calendar.css" />
<link rel="stylesheet" type="text/css" href="/static/css/collapsible-panels_response.css" />
{% endblock %}       

{% block js %}
        <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/jquery_response.js"></script>
        <script type="text/javascript" src="/static/js/jquery-calendar.js"></script>
        
        <script type="text/javascript">
        //<![CDATA[
            $(document).ready(function (){ 
                $("#calendar_ss, #calendar_se, #calendar_as, #calendar_ae").calendar();
            });
        //]]>
            function check()
            {
                if(document.getElementById("checkbox").checked)
                {
                    document.getElementById('input_display_id').style.display='block';
                    document.getElementById('label_id').style.display='block';
                }
                else
                {
                    document.getElementById('input_display_id').style.display='none';
                    document.getElementById('label_id').style.display='none';
                }
            }
            //
            function reg_add()
            {
                activity_name = document.modi.activity_name.value; //活動名稱*
                sign_StartDateTime = document.modi.sign_StartDateTime.value; //報名開始時間*
                sign_EndDateTime = document.modi.sign_EndDateTime.value;   //報名結束時間*
                activity_StartDateTime = document.modi.sign_StartDateTime.value;   //活動開始時間*
                activity_EndDateTime = document.modi.sign_EndDateTime.value;   //活動結束時間*
                site = document.modi.site.value;   //地點*
                limit_num = document.modi.limit_num.value; //人數限制
                activity_id = document.modi.activity_id.value; //活動id
                tag = true;
               
                if(activity_name == ''){
                    document.getElementById("span_activity").innerHTML="請輸入活動名稱";
                    tag = false;
                }
                if(sign_StartDateTime == ''){
                    document.getElementById("span_ss").innerHTML="請輸入報名開始時間";
                    tag = false;
                }
                if(sign_EndDateTime == ''){
                    document.getElementById("span_se").innerHTML="請輸入報名結束時間";
                    tag = false;
                }
                if(activity_StartDateTime == ''){
                    document.getElementById("span_as").innerHTML="請輸入活動開始時間";
                    tag = false;
                }
                if(activity_EndDateTime == ''){
                    document.getElementById("span_ae").innerHTML="請輸入活動結束時間";
                    tag = false;
                }
                if(site == ''){
                    document.getElementById("span_site").innerHTML="請輸入活動地點";
                    tag = false;
                }
                    
                if(tag)
                    document.modi.submit();
        }
          //回覆面板
            $(document).ready(function(){
                //hide message_body after the first one
                $(".message_list .reply_body").slideUp();
                //hide message li after the 5th
                //$(".message_list li:gt(4)").hide();
            
                
                //toggle message_body
                $(".reply_head").click(function(){
                    $(this).next(".reply_body").slideToggle(500)
                    return false;
                });
            
                //collapse all messages
                $(".collpase_all_message").click(function(){
                	$(this).parents("p").prevAll("ol").children("li").children(".reply_body").slideUp(500);
                    return false;
                });
                //show all messages
                //$(".show_all_message").click(function(){
                //    $(this).hide()
                //    $(".show_recent_only").show()
                //    $(".message_list li:gt(4)").slideDown()
                //    return false;
                //});
            
                //show recent messages only
                //$(".show_recent_only").click(function(){
                //    $(this).hide()
                //    $(".show_all_message").show()
                //    $(".message_list li:gt(4)").slideUp()
                //    return false;
                //});
            
            });
        </script>
{% endblock %}  

{% block login %}
<div><a href="/admin" class="login">登入</a></div>
{% endblock %}
                 
{% block primarycontent %}
				    {% for searchinfo in searchinfos %}
				        {% if searchinfo%}
				        <form method="post" action="/Modify/SaveActivity" name="modi">
				            <div>活動ID: {{id}}<input type="hidden" value="{{id}}" name="activity_id"></div>
				            <div>活動名稱:<input type="text" id ="activity_name" name="activity_name" value="{{searchinfo.activity_name}}"/><span id="span_activity" style="color:red">*</span></div>
				            <div>活動說明:
				                <br><textarea name="content" cols="45" rows="5">{{searchinfo.content}}</textarea></div>
				            <br><div>活動報名時間：
				                <br>　開始:<input name= "sign_StartDateTime" "type="text" id="calendar_ss" value="{{sign_start}}" readonly="true"/><span id="span_ss" style="color:red">*</span>
				                <br>　結束:<input name= "sign_EndDateTime" "type="text" id="calendar_se" value="{{sign_end}}" readonly="true"/><span id="span_se" style="color:red">*</span>
				            </div>
				            <br><div>活動時間:
				                <br>　開始:<input name= "activity_StartDateTime" "type="text" id="calendar_as" value="{{activity_start}}" readonly="true"/><span id="span_as" style="color:red">*</span>
				                <br>　結束:<input name= "activity_EndDateTime" "type="text" id="calendar_ae" value="{{activity_end}}" readonly="true"/><span id="span_ae" style="color:red">*</span>
                            </div>
				            <br> <div>活動地點:<input type="text" id="site" name="site" value="{{searchinfo.site}}"/><span id="span_site" style="color:red">*</span></div>
				            <br> <div>人數限制:<input type="text" id="limit_num" name="limit_num" value="{{searchinfo.limit_num}}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/><!-- 只能輸入數字 --></div>
				            <br> <div><input type="button" onClick="reg_add();" value="修改">
				          </div>
				        </form>
				        {%endif%}
				    {% endfor %}
				    
				    <div style="padding:100px 0 0 0";></div> <!-- 分隔用 -->
				    <!-- 回覆區 -->
				    
				    {% for y in obj %}
				        <div>
				        <div class = "response_body">
				        <ol class="message_list">
				        <li>
                            <p class="question_head"><cite>{{ y.0.0 }}:</cite><span class="timestamp">發問者</span></p>
                            <div class="question_body">
                                <input type="hidden" value="{{y.0.1}}" id="content_{{y.0.2}}">
								<script type="text/javascript">
 											
                                            a = document.getElementById("content_{{y.0.2}}").value;
                                            var regex= /\n/gi;
                                            document.write("<div>");
                                            document.write("<pre class='response_pre'>") ;
                                            document.write(a.replace(new RegExp("\n","g"),"</br>"));
                                            document.write("</pre>") ;
                                            document.write("</div>");
           						</script>
                            </div>
                        </li>
                        <!-- 回應輸入區塊 head -->
                        {% for x in y.1 %}
                        <li>
                            <p class="reply_head" name="question_{{y.0.2}}"><cite>{{ x.0 }}:</cite> <span class="timestamp">#{{ x.2 }}</span></p>
                                <div class="reply_body" id="menuId{{y.0.2}}">
                                <input type="hidden" value="{{x.1}}" id="content_{{y.0.2}}_{{x.2}}">
                                <script type="text/javascript">
                                            
                                            a = document.getElementById("content_{{y.0.2}}_{{x.2}}").value;
                                            var regex= /\n/gi;
                                            document.write("<div>");
                                            document.write("<pre class='response_pre'>") ;
                                            document.write(a.replace(new RegExp("\n","g"),"</br>"));
                                            document.write("</pre>") ;
                                            document.write("</div>");
                                </script>
                                </div>
                        </li>
                        {% endfor %}
                        </ol>
                        <p class="collapse_buttons"><a href="#" class="collpase_all_message">Collapse all</a><label onclick="document.getElementById('table_{{y.0.2}}').style.display='block';postcontent_{{y.0.2}}.focus();getUserName('posteditor_{{y.0.2}}')">留言</label></td></p>
                        <form id='form_{{y.0.2}}' method='post' action='/Modify/AddForum/id_{{id}}'>
                            <input type='hidden' name='forum_id' value='{{y.0.2}}'/>
                            <table id='table_{{y.0.2}}' width="30%" border="0"  style="display:none">
                                <tr>
                                    <td colspan="3"><textarea name='content' id='postcontent_{{y.0.2}}' cols='30' rows='2'></textarea></td>
                                <tr>
                                </tr>
                                    <td width='3%'><input id='post_{{y.0.2}}' type='submit' value='Post'/></td>
                                    <td width='3%'><input type='button' id='close_{{y.0.2}}' value='隱藏' onclick="document.getElementById('table_{{y.0.2}}').style.display='none';document.getElementById('opbutton_{{y.0.2}}').style.display='block'"/></td>
                                    <td width='94%'>
                                </tr>
                            </table>
                        </form>
                        </div>
                        <!-- 回應輸入區塊 tail -->
                        </div>
                        <div style="padding:100px 0 0 0";></div>
                        {% endfor %}
{% endblock %}
                
{% block secondarycontent %}{% endblock %}         
{% block footer %}  
                    &copy; FJU CSRC. All rights reserved.
{% endblock %}