{% extends "base.html" %}

{% block title %}學程特色{% endblock %}


    {% block content %}      
    <div id="content">
        <div class="min-width">
            <h2>學程特色</h2>            
            <div class="wrapper margin1">
                 <ul type="decimal" style="list-style-position: inside; line-height: 2em;">  
                        <li>循序漸進，由淺入深，只要修過先修課程，任何系所學生都能選修本學程。</li>
                        <li>實作導向，所有必修及核心課程都有實習課，都要上雲端平台實作，開發雲端服務應用。</li>
                        <li>實務導向，本學程將配合服務學習學程，讓同學可以在中小企業實際使用的雲端系統上工讀，利用資訊工具，實際解決中小企業的日常作業及管理決策問題。</li>
                        <li>本學程將與企業合作，提供產業實習及工讀機會。</li>
                        <li>除了校內師資，將邀請企業人士協助本學程之教學。 </li>                    
                 </ul>
                 <br />
                 <strong>本學程的實習及中小企業輔導雲端平台如下圖</strong><br />
                 <a href="/static/images/platform.jpg"><img src="/static/images/platform_s.jpg" /></a>
                 <br /> 
            </div>
            
        </div>
    </div>
    {% endblock %} 
