{% extends "base.html" %}

{% block title %}輔仁大學雲端服務研究中心{% endblock %}

{% block css %}
    <link type="text/css" href="../static/css/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
{% endblock %}

{% block js %}
        <script type="text/javascript" src="../static/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery-ui-1.8.10.custom.min.js"></script>
        <script type="text/javascript">
                    $(function(){
                        // Accordion
                        $("#primarycontent").accordion({ 
                            header: ".header",
                            clearStyle: true,
                            collapsible: true,
                            active: false,
                            icons: false
                            });
                        
                        //hover states on the static widgets
                        $('#dialog_link, ul#icons li').hover(
                            function() { $(this).addClass('ui-state-hover'); }, 
                            function() { $(this).removeClass('ui-state-hover'); }
                        );
                        
                        
                        $('.header > h3 > span').each(function(index, obj){
                        	
                        	$(obj).css({
                        		'white-space': 'nowrap',
                        		'overflow': 'hidden',
                        		'display': 'inline-block'
                        	});
                        	
                        	if($(obj).width() > 500) {
                        		$(obj).width(500);
                        		$(obj).attr('title', $(obj).text());
                        		$(obj).after('<span title="' + $(obj).text() + '"> ...</span>')
                        	}
                        });
                    });
        </script>   
{% endblock %}

{% block primarycontent %}
          {% for publish in publishs %} 
            <div class="post">
                <div class="header">
                    <h3><span>{{ publish.type }}：{{ publish.title }}</span></h3>
                    <div class="date">{{ publish.publish_date|date:"Y-m-d"  }}</div>
                </div>
                <div class="content" style="border: none;background: none; padding: 0;">       
                   	<div>
                        {{ publish.content }} 
                    </div>
	                <div class="footer">
	                    <ul>                          
	                        <li>
	                            <!-- AddThis Button BEGIN -->
		                        <div class="addthis_toolbox addthis_default_style ">
		                        <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4d79d8d84b957456" class="addthis_button_compact">Share</a>
		                        <span class="addthis_separator">|</span>
		                        <a class="addthis_button_facebook"></a>
		                        <a class="addthis_button_plurk"></a>
		                        <a class="addthis_button_2tag"></a>
		                        <a class="addthis_button_google"></a>
		                        </div>
		                        <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
		                        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d79d8d84b957456"></script>
		                        <!-- AddThis Button END -->
	                        </li>
	                    </ul>
	                </div>
                </div>
            </div>      
        {% endfor %}
{% endblock %}

