{% extends "base.html" %}

{% block title %}輔仁大學雲端服務研究中心{% endblock %}

{% block css %}
<link type="text/css" href="../static/css/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
    
<style type="text/css">
    .data
    {
        padding: 0 0 0 30px;
        margin-bottom: 25px;
    }
    .data ul li a
    {                      
        line-height: 2em;
        text-decoration: none;
    }
    a
    {
        text-decoration: none;
    }
</style>    
{% endblock %}

{% block js %}
        <script type="text/javascript" src="../static/js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery-ui-1.8.10.custom.min.js"></script>
        <script type="text/javascript">
                    $(function(){
                        // Accordion
                        $("#primarycontent").accordion({ 
                            header: ".post > .header",
                            clearStyle: true,
                            collapsible: true,
                            active: false,
                            icons: false
                            });
                        
                        //hover states on the static widgets
                        $('#dialog_link, ul#icons li').hover(
                            function() { $(this).addClass('ui-state-hover'); }, 
                            function() { $(this).removeClass('ui-state-hover'); }
                        );
                        
                        
                        $('.header > h3 > span').each(function(index, obj){
                        	
                        	$(obj).css({
                        		'white-space': 'nowrap',
                        		'overflow': 'hidden',
                        		'display': 'inline-block'
                        	});
                        	
                        	if($(obj).width() > 500) {
                        		$(obj).width(500);
                        		$(obj).attr('title', $(obj).text());
                        		$(obj).after('<span title="' + $(obj).text() + '"> ...</span>')
                        	}
                        });
                    });
        </script>   
{% endblock %}

{% block primarycontent %}

            <div class="post">
                <div class="header">
                    <h3><span>NEO基礎課程教材</span></h3>
                </div>
                <div class="content" style="border: none;background: none; padding: 0;">       
                   	<div class="data">
                   		<ul>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiODBkNjMyODUtMWJlYS00NWE0LWIxN2EtM2EyYTI4NjU2OThl&hl=zh_TW" target="_blank">NEO基礎課程簡介</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiYTI1NmMzMmUtOWFiZS00YWEwLTk1ZmQtM2IyNWQwNTFkZWJk&hl=zh_TW" target="_blank">Logistics 00 - 使用者帳號範例</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiNTRkMTdiMTItMGNkNS00ZWQxLTgzNmQtMWM5Y2RiNTJiYjg3&hl=zh_TW" target="_blank">Logistics 01 - 基本資料範例</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiMzAyMTc3ODQtZTgwOS00NWI3LWEzMDQtMDA5MzExMTQ5NWZm&hl=zh_TW" target="_blank">Logistics 02 - 商務流程範例</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiNzNhYzIxMjUtNzBlNS00ZGQ1LThlMDQtNTJmNzA2NzVhNGU4&hl=zh_TW" target="_blank">Manufacture 01 - 基本資料範例</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiZGZlNjAyNTEtM2RmYy00YTE1LWE0OGEtM2JjOTBkZjE2OGM1&hl=zh_TW" target="_blank">Manufacture 02 - 商務流程範例</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiNDZhMTFlN2YtYjE2Mi00ODg1LTgwNGQtZTNlZWYxNTBhNWMy&hl=zh_TW" target="_blank">Finance 01 - 基本資料範例</a></li>
                        	<li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiZjgyNjQ5YjctNDgyNC00YmIxLTk5MjktNzUyNmY2NDRkZjE3&hl=zh_TW" target="_blank">Finance 02 - 商務流程範例</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="post">
                <div class="header">
                    <h3><span>NEO基礎課程影片</span></h3>
                </div>
                <div class="content" style="border: none;background: none; padding: 0 0 0 30px;">
                   	<h4>Logistics</h4>
                   	<div class="data">
                   		<ul>
                   			<li><a href="http://youtu.be/xTwAIaWhoQo" target="_blank">Logistics基本資料範例(1/3) - 銷售類別 - 採購類別 - 銷售價格表</a></li>
                   			<li><a href="http://youtu.be/BctaqABZ5wk" target="_blank">Logistics基本資料範例(2/3) - 客戶 - 廠商 - 採購價格表</a></li>
                   			<li><a href="http://youtu.be/0w--_RsevZc" target="_blank">Logistics基本資料範例(3/3) - 庫存開帳</a></li>
                   			<li><a href="http://youtu.be/f712RolQ3-M" target="_blank">Logistics商務流程範例(1/2) - 銷售訂單 - 請購單</a></li>
                   			<li><a href="http://youtu.be/iG2rPXLxASA" target="_blank">Logistics商務流程範例(2/2) - 採購單 - 進貨單 - 出貨單</a></li>
                        </ul>
                    </div>
                    <h4>Manufacture</h4>
                    <div class="data">
                    	<ul>
                   			<li><a href="http://youtu.be/g0jn2U2uh24" target="_blank">Manufacture基本資料範例(1/4) - 材料表</a></li>
                   			<li><a href="http://youtu.be/T2myj6fSGBI" target="_blank">Manufacture基本資料範例(2/4) - 材料表 - 資源, 作業, 製程</a></li>
                   			<li><a href="http://youtu.be/soTo2MdZVZY" target="_blank">Manufacture基本資料範例(3/4) - 資源,作業,製程 - 修改件號 - 工作曆</a></li>
                   			<li><a href="http://youtu.be/rNpG_JUNi18" target="_blank">Manufacture基本資料範例(4/4) - 工作曆 - 營運主體製造參數維護</a></li>
                   			<li><a href="http://youtu.be/i4trU8LXoz0" target="_blank">Manufacture商務流程範例(1/3) - 開立確認銷售訂單 - 工令單</a></li>
                   			<li><a href="http://youtu.be/xkRqRtolYXI" target="_blank">Manufacture商務流程範例(2/3) - 工令單 - 領料單 - 確認領料單 - 出庫 - 回報單</a></li>
                   			<li><a href="http://youtu.be/bFpiXCybpy8" target="_blank">Manufacture商務流程範例(3/3) - 回報單 - 工令入庫單 - 出貨單 - 確認, 預約, 出庫</a></li>                    		
                    	</ul>
                    </div>
                    <h4>Finance</h4>
                    <div class="data">
                    	<ul>
                   			<li><a href="http://youtu.be/8qeRs9-QnII" target="_blank">Finance基本資料範例(1/12) - 科目</a></li>
                   			<li><a href="http://youtu.be/WjJEM8KxGbQ" target="_blank">Finance基本資料範例(2/12) - 科目群組</a></li>
                   			<li><a href="http://youtu.be/SbXMKBHI6xk" target="_blank">Finance基本資料範例(3/12) - 營運主體財務參數</a></li>
                   			<li><a href="http://youtu.be/kwDm_kJCNhM" target="_blank">Finance基本資料範例(4/12) - 銀行帳號</a></li>
                   			<li><a href="http://youtu.be/DJjI78262H8" target="_blank">Finance基本資料範例(5/12) - 銀行帳號 - 票據本 1</a></li>
                   			<li><a href="http://youtu.be/f42PrbxOjkE" target="_blank">Finance基本資料範例(5/12) - 銀行帳號 - 票據本 2</a></li>
                   			<li><a href="http://youtu.be/TzU_u1wwzxI" target="_blank">Finance基本資料範例(6/12) - 現金科目 - 票據本</a></li>
                   			<li><a href="http://youtu.be/CKvVEVM3yUY" target="_blank">Finance基本資料範例(7/12) - 分攤群組 - 費用類別</a></li>
                   			<li><a href="http://youtu.be/Eiohf-ejFMM" target="_blank">Finance基本資料範例(8/12) - 存貨類別與科目 - 會計開帳單</a></li>
                   			<li><a href="http://youtu.be/5KR0PaGAaw0" target="_blank">Finance基本資料範例(9/12) - 會計開帳單 1</a></li>
                   			<li><a href="http://youtu.be/lnKwnp6YvCE" target="_blank">Finance基本資料範例(10/12) - 會計開帳單 2</a></li>
                   			<li><a href="http://youtu.be/ZLxnBNOm6rs" target="_blank">Finance基本資料範例(11/12) - 會計開帳單 3</a></li>
                   			<li><a href="http://youtu.be/FURjSG6zLLQ" target="_blank">Finance基本資料範例(12/12) - 會計關帳單 - 會計結帳單</a></li>
                   			<li><a href="http://youtu.be/H75KDcOFjCc" target="_blank">Finance商務流程範例(1/11) - 營運點採購單據參數 - 進貨憑單</a></li>
                   			<li><a href="http://youtu.be/YMPrpzcJPZU" target="_blank">Finance商務流程範例(2/11) - 進貨憑單 - 營運點銷售單據參數</a></li>
                   			<li><a href="http://youtu.be/mEnMztDDkvU" target="_blank">Finance商務流程範例(3/11) - 營運點銷售單據參數 - 銷貨憑單 - 營運點財務單據參數</a></li>
                   			<li><a href="http://youtu.be/r5p2qtj4KWc" target="_blank">Finance商務流程範例(4/11) - 營運點財務單據參數 - 應付款項處理單</a></li>
                   			<li><a href="http://youtu.be/1WPDT3KnoXI" target="_blank">Finance商務流程範例(5/11) - 應收款項處理單 - 應付票據處理單</a></li>
                   			<li><a href="http://youtu.be/jXJnleRDwnQ" target="_blank">Finance商務流程範例(6/11) - 應付票據處理單 - 應收票據處理單 - 損益表BR</a></li>
                   			<li><a href="http://youtu.be/2SjFXI2X8WM" target="_blank">Finance商務流程範例(7/11) - 損益表BR</a></li>
                   			<li><a href="http://youtu.be/A9ZwQDoPkP8" target="_blank">Finance商務流程範例(8/11) - 損益表BR</a></li>
                   			<li><a href="http://youtu.be/p7bBRmgQtw4" target="_blank">Finance商務流程範例(9/11) - 損益表BR - 損益表iReport</a></li>
                   			<li><a href="http://youtu.be/gTwDBGldNYE" target="_blank">Finance商務流程範例(10/11) - 損益表iReport - NEO iReport</a></li>
                   			<li><a href="http://youtu.be/tNHOiNtYz_E" target="_blank">Finance商務流程範例(11/11) - NEO iReport</a></li>
                    	</ul>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="header">
                    <h3><span>NEO操作手冊</span></h3>
                </div>
                <div class="content" style="border: none;background: none; padding: 0;">       
                    <div class="data">
                        <ul>
	                        <li><a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiZDFjMmE0ODYtNTAyNS00MjA2LTlkOWYtNGYzYTFkZmQ3NjU0&hl=zh_TW" target="_blank">操作手冊-工具模組(進階-服務資料權限工具)</a></li>
	                        <li><a href="https://docs.google.com/a/csrc.im.fju.edu.tw/viewer?a=v&pid=explorer&chrome=true&srcid=0B6B0GiWORLqiNThjNTUyNGEtZGNkZC00MTIzLWJkNDEtNGRkN2I1OGMxZjQz&hl=zh_TW" target="_blank">操作手冊-管理模組(畫面與服務應用功能-支援畫面)</a></li>
                        </ul>
                    </div>
                </div>
            </div>         
            <div class="post">
                <div class="header">
                    <h3><span>NEO無程式客製影片</span></h3>
                </div>
                <div class="content" style="border: none;background: none; padding: 0 0 0 30px;">       
                    <div>
	                    <h4>服務資料權限工具</h4>
						<div class="data">
						    <ul>
						        <li><a href="http://www.youtube.com/watch?v=1z5QhFSulRk" target="_blank">雲端SOA-ERP客製之只能入庫特定廠商材料</a></li>
						        <li><a href="http://www.youtube.com/watch?v=F7Twj6B3ED8" target="_blank">雲端SOA-ERP客製之只能新增費用類件號</a></li>
						        <li><a href="http://www.youtube.com/watch?v=i-FzIiob7Fw" target="_blank">雲端SOA-ERP客製之只能查詢自己的件號</a></li>
						        <li><a href="http://www.youtube.com/watch?v=ay2HzRlvpjg" target="_blank">雲端SOA-ERP客製之限制營業部門銷售訂單</a></li>
						        <li><a href="http://www.youtube.com/watch?v=FLkDvLIDqt4" target="_blank">雲端SOA-ERP客製之限制資本類採購單</a></li>
						        <li><a href="http://www.youtube.com/watch?v=zzO5kh0C4l0" target="_blank">雲端SOA-ERP客製之只能維護自己的件號</a></li>
						    </ul>
						</div>
                        <h4>框架工具</h4>
                        <div class="data">
                            <ul>
                                <li><a href="http://www.youtube.com/watch?v=GW2nHCZlg1E" target="_blank" >雲端SOA-ERP客製之專屬報表客製</a></li>
                                <li><a href="http://www.youtube.com/watch?v=15uRJazghdc" target="_blank" >雲端SOA-ERP客製之表格欄位鎖定~燈號警示</a></li>
                                <li><a href="http://www.youtube.com/watch?v=xzlpqAYEGgM" target="_blank" >雲端SOA-ERP客製之篩選器客製</a></li>
                                <li><a href="http://www.youtube.com/watch?v=FpxVZN225k4" target="_blank" >雲端SOA-ERP客製之表格列操作</a></li>
                                <li><a href="http://www.youtube.com/watch?v=WnITQHrBieg" target="_blank" >雲端SOA-ERP客製之表格轉圖形多維表</a></li>
                                <li><a href="http://www.youtube.com/watch?v=v_EzIfeJ2q4" target="_blank" >雲端SOA-ERP客製之註記及傳值</a></li>
                                <li><a href="http://www.youtube.com/watch?v=9tHbTLDjnpc" target="_blank" >雲端SOA-ERP客製之表格調整欄位~右鍵操作</a></li>
                                <li><a href="http://www.youtube.com/watch?v=9xhPGrYsZbE" target="_blank" >雲端SOA-ERP客製之附註管理</a></li>
                            </ul>
                        </div>
                        <h4>管理模組</h4>
                        <div class="data">
                            <ul>  
                                <li><a href="http://www.youtube.com/watch?v=2g_wRQMNlsU" target="_blank" >雲端SOA-ERP客製之應用程式隱藏功能</a></li>
                                <li><a href="http://www.youtube.com/watch?v=TTto8SoZQ8k" target="_blank" >雲端SOA-ERP客製之應用程式隱藏欄位</a></li>
                                <li><a href="http://www.youtube.com/watch?v=ca6kmSlE0XM" target="_blank" >雲端SOA-ERP客製之應用程式預設尾檔頁籤</a></li>
                                <li><a href="http://www.youtube.com/watch?v=5ZPOkDNtTrA" target="_blank" >雲端SOA-ERP客製之欄位片語傳值</a></li>                                
                                <li><a href="http://www.youtube.com/watch?v=xBchDCx-KLY" target="_blank" >雲端SOA-ERP客製之自訂傳值串接</a></li>
                                <li><a href="http://www.youtube.com/watch?v=mvSjNaL92f0" target="_blank" >雲端SOA-ERP客製之自訂功能</a></li>
                                <li><a href="http://www.youtube.com/watch?v=xNoaiB5CEOY" target="_blank" >雲端SOA-ERP客製之自訂功能串接</a></li>
                                <li><a href="http://www.youtube.com/watch?v=XcQuqMfbSqw" target="_blank" >雲端SOA-ERP客製之自訂尾檔頁籤</a></li>
                                <li><a href="http://www.youtube.com/watch?v=J1coJgqD_2k" target="_blank" >雲端SOA-ERP客製之自訂服務</a></li>
                                <li><a href="http://www.youtube.com/watch?v=KUndqi75cG8" target="_blank" >雲端SOA-ERP客製之自訂表格串接</a></li>
                            </ul>
                        </div>
                        <h4>設計模式工具</h4>
                        <div class="data">
                            <ul>                               
                                <li><a href="http://www.youtube.com/watch?v=C1c1Qb8Xoz4" target="_blank" >雲端SOA-ERP客製之改變元件可使用屬性</a></li>
                                <li><a href="http://www.youtube.com/watch?v=noyjgCmnWl8" target="_blank" >雲端SOA-ERP客製之設定欄位預設值 之一</a></li>
                                <li><a href="http://www.youtube.com/watch?v=VZnaI3cfcCg" target="_blank" >雲端SOA-ERP客製之設定欄位預設值 之二</a></li>
                                <li><a href="http://www.youtube.com/watch?v=UP2yHkTd79M" target="_blank" >雲端SOA-ERP客製之改變欄位顯示屬性</a></li>                           
                            </ul>
                        </div>                                                	                   
                    </div>
                </div>
            </div>
            <div class="header">
            	<h3><span><a href="http://neo.im.fju.edu.tw/LCWebServices/list" style="color: #656551;">NEO Web Services</a></span></h3>
            </div>
            <!-- div class="post">
                <div class="header">
                    <h3><span>NEOLite SOA-ERP投影片</span></h3>

                </div>
                <div class="content" style="border: none;background: none; padding: 0;">       
                    <div>
                        <a href="#" target="_blank">即將更新</a><br />
                        <br />
                    </div>

                </div>
            </div -->
{% endblock %}
{% block secondarycontent %}
<h3>NEO SOA-ERP</h3>
<div class="content">
	<ul class="linklist">
		<li class="first"><a href="http://neo.im.fju.edu.tw" target="_blank">前往NEO SOA-ERP</a></li>
		<li><a href="http://groups.google.com/group/neo-lite" title="NEO Lite SOA-ERP相關問題與討論" target="_blank">討論區</a></li>
	</ul>
	</div>
{% endblock %}

