<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="/static/css/print_browse.css" />
        <link rel="stylesheet" href="/static/css/ui.datepicker.css"
            type="text/css" media="screen" title="core css file" charset="utf-8" />  
<title>私立輔仁大學專題研究計畫臨時給付表</title>
<style type="text/css">
<!--
body,td,th {
	font-family: 標楷體;
	font-size: 11pt;
}
-->
</style></head>

<body>
	<div align="center"><strong><u><h2>私立輔仁大學專題研究計畫臨時給付表</h2></u></strong></div>
<div align="left">
    計畫名稱：  雲端服務研究中心<br />
    姓　　名：
{% for who in em_data %}    
    {{ who.name}}
{% endfor %}
    服務機關：雲端服務研究中心  身分證統一編號：_____________________<br />
    華僑/統一證號；_____________________華僑/無統一證號號：________________________<br />
    戶籍地址：_________________________________________&nbsp;&nbsp;&nbsp;聯絡電話:________________<br />
    *外國人請勾選  <br />
1.本給付年度內按所得人護照入出境戳章日期累計在華是否已滿183天？□是Yes □否No<br />
2.外國人之國籍____________________<br />
<strong>計酬標準:</strong>____________________________<br />
         <table class="centered-table">
            <tr>
                <th>日期</th>
                <th>時間</th>
                <th>地點</th>
                <th>工作摘要</th>
                <th>金額</th>
            </tr>
            {% for worker in working_hours %}
            <tr>
                <td width="150px">{{ worker.working_date }}</td>
                <td width="150px">{{ worker.working_bhour }}~{{ worker.working_ehour }}</td>
                <td width="250px">{{ worker.working_area }}</td>
                <td width="300px">{{ worker.working_content }}</td>
                <td width="150px">{{ worker.pay }}</td>             
            </tr>
            {% endfor %}
            <tr>
                <td COLSPAN=5><strong>以上費用共計新台幣
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;萬
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仟
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;佰
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拾
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元整</td>
            </strong></tr>
        </table>

<strong>領款人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;計畫主持人：</strong>
<br /><br />
扣繳規定:<br />											
一、填報注意快覽<br />
&nbsp;&nbsp;1.所得人為本國人或一課稅年度內於中華民國境內居住滿183天者(簡稱居住者)，必填身分證號或居留證號及住址。並請所得人簽名及查驗外國人是否居住滿183天。若以護照影本核銷，須另附護照入出境戳章影本。<br />
&nbsp;&nbsp;2.所得人為「非」中華民國境內居住滿183天者(簡稱非居住者)，必填國籍及西元出生年月日含「名字」英文字前兩個字母 (非「姓」)，並附上護照影本或本國入出境許可證影本(有照片者)供查核。<br />
&nbsp;&nbsp;3.所得人為雙重國籍者，仍以是否屬非居住者為判斷標準，若於本國已除戶籍者則收據欄必勾選，再依前述兩項填報。<br />
&nbsp;&nbsp;4.費用名稱為判斷所得格式依據，請依實填列。依法不必申報所得者，請特別註明不必申報。<br />
二、扣繳規定快覽<br />
&nbsp;&nbsp;&nbsp;&nbsp;1.居住者，除特別規定外，各類所得每次給付額若超過20,000元者，扣繳10%。但薪資所得以「全月給付總額」為準，可選扣6%或依薪資所得扣繳稅額表金額扣繳。<br />
&nbsp;&nbsp;2.非居住者，除特別規定外，各類所得按給付額扣繳20%。但薪資所得其「全月給付總額」在行政院核定每月基本工資1.5倍以下者(98年度以25,920元為標準)，按給付額扣6%；超過者按給付額扣18%。又所得為稿費、演講費、論文審查費等屬「定額扣繳」之所得，且每次給付額為5,000以下者，得免予扣繳。<br />
&nbsp;&nbsp;3.各單位有上述「非」居住者之個人或法人團體(如捐贈)支付所得，不論有無扣繳稅款，為免受罰，請於給付時當日起算三日內，送至會計室報帳核銷，並以正楷填寫以利系統登錄、申報扣繳。<br />

  <p>&nbsp; </p>
</div>
</body>
</html>
