{% extends "base.html" %}

{% block title %}工讀時數資料{% endblock %}

{% block css %}
        <link type="text/css" rel="stylesheet" href="/static/css/publish_browse.css" />
        <link rel="stylesheet" href="/static/css/ui.datepicker.css"
            type="text/css" media="screen" title="core css file" charset="utf-8" />    
        <link rel="stylesheet" href="/static/css/monthpicker.css" type="text/css" charset="utf-8" />
{% endblock %}

{% block js %}
    <script type="text/javascript">
       function month(sel) {
    	   document.myform.elements["month"].value=sel.options[sel.selectedIndex].value;
       }
       function year(sel) {
           document.myform.elements["year"].value=sel.options[sel.selectedIndex].value;
       }
       function search() {
    	   document.forms["myform"].submit();
       }
       

    </script>

    <script type="text/javascript">
       function checkForm() {
        if (window.confirm("確定刪除?")) {
         return true;
        }
        return false;
       }
    </script>

{% endblock %}

{% block primarycontent %}  
        <font size="5">
        {% if select_year and select_month %} 
            {{select_year}}年{{select_month}}月
        {% endif %}
        總時數：{{ total_hour }}       
        總支出：{{ total_pay }}
        </font>
        <table class="centered-table">
            <tr>
                <th>名字</th>
                <th>帳號</th>
                <th>時薪</th>
            </tr>
            <tr>
                <td>{{em_data.0.name}}</td>
                <td>{{em_data.0.mail}}</td>
                <td>{{em_data.0.hourly_pay}}</td>               
            </tr>
        </table>
         <table class="centered-table">
            <tr>
                <th>日期</th>
                <th>時間</th>
                <th>地點</th>
                <th>工作摘要</th>
                <th>金額</th>
                <th>時數</th>
            </tr>
            {% for worker in working_hours %}
            <tr>
                <td>{{ worker.working_date }}</td>
                <td>{{ worker.working_bhour }}~{{ worker.working_ehour }}</td>
                <td>{{ worker.working_area }}</td>
                <td>{{ worker.working_content }}</td>
                <td>{{ worker.pay }}</td>
                <td>{{ worker.subtotal }}</td>        
                <td>
                    <form action="/employee/delete_record" method="post"  onsubmit="return checkForm()">
                        <input type="hidden" value="{{ worker.id }}" name="delete_id">
                        <input type="hidden" value="{{ worker.worker }}" name="worker">                       
                        <input type="submit" value="刪除">
                    </form>
                </td>                            
            </tr>
            {% endfor %}
        </table>

{% endblock %}
{% block secondarycontent %}
        <a href="../../admin/employee">回工讀生管理頁</a><br /><br />
        月份選擇：<br />
        <select name="year" id="year" onchange="year(this)" size="1">
            {% for y in nowy %}
                <option value="{{y}}">{{y}}</option>
            {% endfor %}                     
        </select>
        <select name="month" id="month" onchange="month(this)" size="1">
            {% for i in mon %}
                <option value="{{i}}">{{i}}</option>    
            {% endfor %}        
        </select>
        <button type="button" onclick="search()">瀏覽</button>
        <form name="print" action="/employee/print_workinghours/" method="post">
            <input type="hidden" value="{{ em_mail }}" name="select_user_mail">
            <input type="hidden" value="{{ select_year }}" name="select_year">
            <input type="hidden" value="{{ select_month }}" name="select_month">
            <input type="submit" value="列印時數表" />
        </form>
        <form name="myform" action="/employee/show_monthrecord/" method="post">
            <input type="hidden" value="{{ em_mail }}" name="user_mail">
            <input type="hidden" value="{{nowy.0}}" name="year">
            <input type="hidden" value="{{mon.0}}" name="month">
        </form>
        
{% endblock %}


