
.list_title {
	color: black;
	padding: 10px 0px 10px 0px;
	margin: 0px 10px 0px 10px;
}

.video_list {
	list-style: none;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
}

.video_item {
	padding: 10px 0px 10px 0px;
	margin: 0px 10px 0px 10px;
	border-top: 1px solid #DDD;
	height: 100px;
}

.video_thumbnail {
	float: left;
	margin: 0px 10px 0px 0px;
}

.video_thumbnail_img {
	width: 130px;
	height: 100px;
}

.video_title {
	height: 20px
}

.video_info {
	width: 430px;
	height: 40px;
	overflow: hidden;
}

.video_button_group {
	height: 20px;
	padding: 15px;
}

.video_button_group_item {
	display: inline;
}

.video_button {
	padding: 2px 2px;
	cursor: pointer;
}